asgiref==3.7.2
async-timeout==4.0.3
beautifulsoup4==4.12.2
black==23.11.0
cachetools==4.2.4
certifi==2023.11.17
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
decorator==4.4.2
distlib==0.3.7
dj-database-url==2.1.0
dj-static==0.0.6
Django==4.2.7
django-ratelimit==4.1.0
django-stubs==4.2.6
django-stubs-ext==4.2.5
django-unicorn==0.57.1
djangorestframework==3.14.0
djangorestframework-stubs==3.14.4
filelock==3.13.1
flake8==6.1.0
gunicorn==21.2.0
hiredis==2.3.2
identify==2.5.32
idna==3.6
mccabe==0.7.0
mypy==1.7.1
mypy-extensions==1.0.0
nodeenv==1.8.0
orjson==3.9.10
packaging==23.2
pathspec==0.11.2
platformdirs==4.0.0
pre-commit==3.5.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pyflakes==3.1.0
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
redis==5.0.1
requests==2.31.0
sentry-sdk==1.39.2
shortuuid==1.0.11
soupsieve==2.5
sqlparse==0.4.4
static3==0.7.0
tomli==2.0.1
types-pytz==2023.3.1.1
types-PyYAML==6.0.12.12
types-requests==2.31.0.10
typing_extensions==4.8.0
urllib3==2.1.0
virtualenv==20.25.0
