{% load static %}
<section>
    <div class="container">
        <div class="card border-0 shadow-sm">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <img class="rounded img-fluid d-block m-auto" src="{% static 'assets/img/whatsapp-group.png' %}">
                    </div>
                    <div class="col text-muted py-2">
                        <h1 class="text-heading text-center" style="font-family: 'Bebas Neue', serif;">Join 100+ Aviator pilots...</h1>
                        <p>Dear Aviator Pilot🚀...</p>
                        <p>Get a truckload of bonuses when you join our whatsapp group like:</p>
                        <p><strong>Free over 25x predictions.</strong> Seriously, all our signals are accurate and over 25!</p>
                        <p><strong>Winning strategies, tips and advice</strong> so that you win more while betting less.</p>
                        <p>And the best part is...</p>
                        <p><strong>No sign up, fishy links, or download needed.</strong></p>
                        <p>So if you're not in this group, you're really missing out. Join us today!</p>
                        <a class="btn btn-light active site-option-button" role="button" href="https://chat.whatsapp.com/Go1OsHwCPxP3wOPJczphQa"  target="_blank">
                            <i class="fab fa-whatsapp me-2"></i>Join The Group Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
